Hi @geekingfrog,

Apologizes for the late reply.

Thank you for the interest you have in the server, a long road was up to the current state. I hope you'll find the features you require for your use case.

The specification states about a loopback scheme, then the redirect uris would look like `http://127.0.0.1:12345/callback`. Such uris may be registered for clients, you can check by yourself with an example client, starting the server with docker compose which is a single command.

According to the snippet you gave, teiserver registers valid uris, it may be possible to register them within boruta.

If there is anything wrong, do not hesitate to tell.

The problem is that the port is not known upfront. So I can register `http://127.0.0.1/callback` but when the client makes the request, the callback url is actually `http://127.0.0.1:12345/callback`, and this fails the comparison check.
the port number is going to change every time.

I think the best solution would be to have a wildcard on port, but it is something that I would not implement in boruta.

As ChatGPT says:
> does it imply security issues?
> Yes — allowing a wildcard/all ports can create major security risks depending on where it’s used.

[RFC 8252 section 7.3](https://datatracker.ietf.org/doc/html/rfc8252#section-7.3)

> The authorization server MUST allow any port to be specified at the
> time of the request for loopback IP redirect URIs, to accommodate
> clients that obtain an available ephemeral port from the operating
> system at the time of the request.

> [RFC 8252 section 7.3](https://datatracker.ietf.org/doc/html/rfc8252#section-7.3)

Indeed, I did not had to face such loopbacks before.

The best current practice states both about the protocol and the loopback host as ipv4 and/or ipv6 addresses. As it can be a security issue, are there other constraints for the URI to be safe?